body {
    background-color: rgb(255, 193, 247);
}
hr {
    color: black;
    border-style: dashed none none;
    border-width: 3px;
    width: 95%;
}
h3 {
    color: rgb(42, 107, 168);
}
h1 {
    color: rgb(90, 30, 146);
}